$background-inputfeld: #bdc4c0;
.input-field {
    background: $background-inputfeld;
    width: 600px;
    margin: 0 auto;
}

main {
    margin-top: 40px;
}

section {
    border-radius: 20%;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
}

.full {
    width: 100%;
}

.width-200 {
    width: 200px;
}